---
import speisekarte_header from '@assets/speisekarte.jpg';
import ShapeDividerWave from '@components/ShapeDividerWave.astro';
import { Image } from 'astro:assets';
interface Props {
	title?: string;
}

const { title = null } = Astro.props;
---

<section
	class="relative min-h-[30vh] flex after:absolute after:inset-0 after:bg-gradient-to-t after:from-black/40 after:to-transparent after:-z-10">
	<div class="m-auto text-center">
		<h1 class="text-white">Speisekarte</h1>
		{
			title && (
				<div class="bg-white/60 rounded-md p-2 flex items-center justify-center">
					<h2 class="text-primary m-0">{title}</h2>
				</div>
			)
		}
		<p class="font-display text-3xl text-tertiary my-4">buon appetito!</p>
		<div class="text-xl">
			<a
				href="tel:03329-698-5150"
				class="text-white before:content-['Telefon:_']"
				>03329-698-5150
			</a>
		</div>
	</div>
	<div class="absolute inset-0 -z-10 h-full">
		<Image
			src={speisekarte_header}
			alt="s"
			class="object-cover h-full"
			loading={'eager'}
			width={1920}
		/>
	</div>
	<div class="absolute -top-1 left-0 right-0 -z-10">
		<ShapeDividerWave />
	</div>
</section>
