---
import { slugify } from '@utils/slugify';
import type { CollectionEntry } from 'astro:content';

interface Props {
	markdown_file: CollectionEntry<'speisekarte_kategorien'>;
	heading_level?: 2 | 3;
	wrapper: 'article' | 'div';
}

const { markdown_file, heading_level = 2, wrapper = 'div' } = Astro.props;

const HeadingLevel = heading_level === 2 ? 'h2' : 'h3';
const Wrapper = wrapper === 'article' ? 'article' : 'div';

const { Content } = await markdown_file.render();
---

<Wrapper id={slugify(markdown_file.data.kategorie)} class="odd:bg-white w-full">
	<div class="max-w-2xl mx-auto sec-sm">
		<div class="text-center text-tertiary">
			<HeadingLevel class="text-4xl">{markdown_file.data.title}</HeadingLevel>
			<div class="text-black">
				<Content />
			</div>
		</div>
		<div class="mt-4">
			<slot />
		</div>
	</div>
</Wrapper>
