<footer class="bg-primary p-12 flex flex-col items-center mt-auto">
	<div
		class="border border-tertiary p-4 flex flex-col items-center w-full gap-4"
	>
		<div class="text-center self-center">
			<h2 class="text-tertiary">Die Osteria</h2>
			<p class="text-white">
				Als ehemaliger Balletttänzer und heutiger Ballettmeister hat Hans Vogl lange
				Zeit mit Rudolf Nurejew, einem Jahrhunderttänzer zusammen gearbeitet, so
				wurde der Osteria der Name „BALLERINO“ verliehen; in Anlehnung an diesen
				fantastischen Tänzer!
			</p>
		</div>
		<div class="text-center">
			<h3 class="text-tertiary">Kontakt</h3>
			<p class="text-white">
				Osteria Ballerino<br />
				Ruhlsdorfer Str. 14-16<br />
				14532 Stahnsdorf
			</p>
		</div>
		<div class="text-center">
			<h3 class="text-tertiary">Öffnungzeiten</h3>
			<p class="text-white">
				Montags von <strong>10-22 Uhr</strong><br />
				Dienstags von <strong>16-22 Uhr</strong><br />
				Mittwochs bis Sonntags von <strong>10-22 Uhr</strong>
			</p>
		</div>
	</div>
	<a href="/impressum">Impressum</a>
	<a href="/datenschutzerklaerung">Datenschutzerklärung</a>
</footer>
