---
import logo from '../../assets/logo.svg';
---

<header class="bg-primary py-4">
	<nav class="flex flex-col place-items-center gap-4">
		<a href="/">
			<div>
				<img
					src={logo}
					alt="Logo Osteria Ballerino"
					class="object-contain w-auto h-24"
					loading="eager"
				/>
			</div>
		</a>
		<div>
			<!-- <ul class="flex text-tertiary space-x-6 text-lg">
				<li><a href="/">Startseite</a></li>
				<li><a href="/ueber-uns">Über uns</a></li>
				<li><a href="/reservierung">Reservierung</a></li>
				<li><a href="/speisekarte">Speisekarte</a></li>
				<li><a href="/galerie">Galerie</a></li>
			</ul> -->
		</div>
	</nav>
</header>
